<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asterian | Videos</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
    <div class="root">
        <div v-if="video">
            <p>{{ videoName }}</p>
            <p>{{ videoSize }}</p>
            <video :src="video.link" controls width="640" height="480"></video>
        </div>
        <div v-if="currentfolder != null">
            <div v-if="currentfolder.folders.length > 0">
                <h1>Folders</h1>
                <ol>
                    <li v-for="file in currentfolder.folders">{{ file.name }} <button @click="listfolder(file.id)">View
                            Episodes</button></li>
                </ol>
            </div>
            <div v-if="currentfolder.files.length > 0">
                <h1>Files</h1>
                <ol>
                    <li v-for="file in currentfolder.files">{{ file.name }}
                        <button @click="download(file.link)">Download</button>&emsp;
                        <button @click="playthis(file)">Play</button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>

</html>